.preload {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preload__bg {
    background-image: url(./preload.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 185px;
    height: 185px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotate(-360deg);
    }
}