.header-wrapper {
    background-color: rgb(37, 57, 14);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.navigation {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.navigation__title {
    font-size: 14px;
    /* font-weight: 600; */
    text-transform: uppercase;
}

.navigation__links {
    display: flex;
    gap: 5px;
}

/* Specific styles for non-active links */
.link {
    color: white;
    padding: 5px;
}

/* Specific styles for active links */
.link-active {
    color: black;
    background-color: #f9d342;
    padding: 5px;
}